@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.header
  background url('https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925')
  background-position center

  margin-top 20px
  margin-bottom 20px
  margin-left 20px
  margin-right 20px

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff
  
.main-content
  margin 50px auto
  max-width 700px

  p
    line-height 1.6
    margin-bottom 10px
	text-align justify

.footer
  margin 50px auto
  max-width 700px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px

#search
  text-align center
  margin 10px auto
  max-width 700px
  height: 40px
  font-size 20px
  border-radius 8px

#coins
  text-align center
  padding 0px 0px 10px
  
#contact
  text-align center
  margin 10px auto
  max-width 700px
  font-size 16px

.container
  max-width 700px

.row
  max-width 700px
  margin 5px

.row-centered
    text-align center

.col-centered
  display inline-block
  float none
  text-align left
  margin-right -4px

.col-sm-4
  box-shadow 2px 2px 2px #888888
  padding 5px
  margin 5px
  width auto
  height auto

h2
  margin 0px
  
.left
  float left
  
.right
  float right
  
.center
  float left
  text-align center
  
img.centered
  display block
  margin auto
  width 100px
  height 100px

p.centered
  text-align center
  text-transform capitalize

a.hidemesenpai
  color #444
