@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
}
.header {
  background: url("https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-position: center;
}
.header .page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  padding: 100px;
  text-transform: uppercase;
  color: #fff;
}
.nav {
  background: #000;
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 700px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
text-align justify,
.footer {
  margin: 50px auto;
  max-width: 700px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
text-align justify p,
.footer p {
  color: #444;
  font-size: 12px;
}
#search {
  text-align: center;
  margin: 10px auto;
  max-width: 700px;
  height: 40px;
  font-size: 20px;
  border-radius: 8px;
}
#coins {
  text-align: center;
  padding: 0px 0px 20px;
}
#contact {
  text-align: center;
  margin: 10px auto;
  max-width: 700px;
  font-size: 16px;
}
