doctype html
html
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel='stylesheet', href='/css/index.css')

		title BitDiff
		
	body
		.header
			h1.page-title BitDiff

		.main-content
			block content

		.footer
			div
				p.left
					a.hidemesenpai(href='https://github.com/twodudeswhocode/BitDiff/') Copyright © 2020 twodudeswhocode 
				p.right
					a(href='mailto:2dwc.official@gmail.com') Contact Us

	script(src='/javascript/ga.js')