doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
		title Coin Checker
	body
		.header
			h1.page-title Coin Diffs!

		ul.nav
			li: a(href='/') Home
			li: a(href='contact') Contact
    
		.main-content
			block content

		.footer
			p Copyright © 2020 Switch

