extend default

block content

	p.
		Check coin prices on Bitfinex, Bittrex, Bitstamp, Coinbase, Kraken, Okcoin, and Poloniex against BTC.
	p.
		Enter a coin symbol and hit 'enter'. For example, if you want to check Bitcoin, its symbol is BTC.

	#coins
		input#search(type='search', placeholder='BTC', value='BTC')

	div
		div.container
			div.row.row-centered
				h2#results

	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/javascript/main.js')
