extend default

block content

	p.
		Check coin prices on Bitfinex , Bittrex, and Poloniex against BTC.
	p.
		Enter the coin symbol then hit enter. For example, if you wanted to check Bitcoin, it's coin symbol is BTC.

	#coins
		input#search(type="search", placeholder="BTC")


	h2#results

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascript/main.js")

